
footer{
  margin-top: 70px;
  width: 100%;
  height: auto;
  background-color: #D6D6D6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f_img img{
  width: 200px;
}
.f_icon{
  font-size: 30px;
  margin-top: -5px;
}
.f_icon i:nth-child(1){
  color: #4D67C2;
}
.f_icon i:nth-child(2){
  color: #29B7E3;
}
.f_text{
  text-align: center;
  width: 90%;
  margin: auto;
  line-height: 25px;
  font-size: 12px;
  font-weight: 400;
}
address{
  font-style: normal;
  margin-top: 30px;
  font-size: 8px;
  font-weight: 600;
}